<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../../Static/JS/slider.js" ></script>
</body>
<body>
    <div id="slider" aria-label="Photo Slider" role="region">
        <!-- Images will be loaded here dynamically --->
<button id="prevBtn" class="nav-btn" aria-label="Previous Slide">&#10094;</button>
<button id="nextBtn" class="nav-btn" aria-label="Next Slide">&#10095;</button>

    </div>
</body>
</html>
