<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/testing.js"></script>
    
</head>
    
    <header id="header-index">
        <h1>LifeSpot - тестовая страница</h1>
        <p>Здесь можно экспериментировать с кодом</p>
        <input type="text" oninput="
         /* Обработчик ввода текста */
            " size=50%>

    </header>
    
    <!--SIDEBAR-->
    <body>
        <body>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <script src="../../Static/JS/slider.js" async></script>
        </body>
        <body>
            <div id="slider" aria-label="Photo Slider" role="region">
                <!-- Images will be loaded here dynamically --->
                <button id="prevBtn" class="nav-btn" aria-label="Previous Slide">&#10094;</button>
                <button id="nextBtn" class="nav-btn" aria-label="Next Slide">&#10095;</button>

            </div>
        </body>
    </body>
    <!--FOOTER-->

</html>